bankservice.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8088/ws/bankservice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"></part>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"></part>
</message>
<message name="concersionEuroGh">
<part name="parameters" element="tns:concersionEuroGh"></part>
</message>
<message name="concersionEuroGhResponse">
<part name="parameters" element="tns:concersionEuroGhResponse"></part>
</message>
<message name="getAcccount">
<part name="parameters" element="tns:getAcccount"></part>
</message>
<message name="getAcccountResponse">
<part name="parameters" element="tns:getAcccountResponse"></part>
</message>
<message name="getAcounptes">
<part name="parameters" element="tns:getAcounptes"></part>
</message>
<message name="getAcounptesResponse">
<part name="parameters" element="tns:getAcounptesResponse"></part>
</message>
<portType name="BankService">
<operation name="test">
<input wsam:Action="http://ws/BankService/testRequest" message="tns:test"></input>
<output wsam:Action="http://ws/BankService/testResponse" message="tns:testResponse"></output>
</operation>
<operation name="concersionEuroGh">
<input wsam:Action="http://ws/BankService/concersionEuroGhRequest" message="tns:concersionEuroGh"></input>
<output wsam:Action="http://ws/BankService/concersionEuroGhResponse" message="tns:concersionEuroGhResponse"></output>
</operation>
<operation name="getAcccount">
<input wsam:Action="http://ws/BankService/getAcccountRequest" message="tns:getAcccount"></input>
<output wsam:Action="http://ws/BankService/getAcccountResponse" message="tns:getAcccountResponse"></output>
</operation>
<operation name="getAcounptes">
<input wsam:Action="http://ws/BankService/getAcounptesRequest" message="tns:getAcounptes"></input>
<output wsam:Action="http://ws/BankService/getAcounptesResponse" message="tns:getAcounptesResponse"></output>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="test">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="concersionEuroGh">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAcccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAcounptes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BankServiceService">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:8088/ws/bankservice"></soap:address>
</port>
</service>
</definitions>